header.container {
  padding-bottom: 0;
}

header.container li.logo a {
  text-decoration: unset;
  color: unset;
}

header.container li.logo strong {
  display: inline-block;
}

main.container {
  padding-top: 0;
}

footer.container {
  font-size: 0.8rem;
  text-align: center;
  color: var(--pico-muted-color);
}

#error-alert {
  color: var(--pico-form-element-invalid-focus-color);
}

#encrypt-value {
  height: 10rem;
}

fieldset {
  margin-bottom: 0;
}

fieldset button:last-child {
  margin-bottom: 0;
}

pre.copy-me {
  position: relative;
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  white-space: pre-wrap;
  word-break: break-all;
  margin-bottom: 0;
}

pre.copy-me:hover {
  color: var(--pico-form-element-valid-focus-color);
  cursor: copy;
}

pre.copy-me:hover:after {
  content: "Copy";
  color: var(--pico-primary);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

pre.copy-me.is-copied:after {
  content: "Copied";
  color: var(--pico-primary);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.initially-hidden {
  display: none;
}
